click==8.1.3 ; python_full_version >= "3.8.1" and python_version < "3.12"
colorama==0.4.6 ; python_full_version >= "3.8.1" and python_version < "3.12" and platform_system == "Windows"
dash==2.9.2 ; python_full_version >= "3.8.1" and python_version < "3.12"
dash-bootstrap-components==1.4.1 ; python_full_version >= "3.8.1" and python_version < "3.12"
dash-core-components==2.0.0 ; python_full_version >= "3.8.1" and python_version < "3.12"
dash-html-components==2.0.0 ; python_full_version >= "3.8.1" and python_version < "3.12"
dash-table==5.0.0 ; python_full_version >= "3.8.1" and python_version < "3.12"
flask==2.2.3 ; python_full_version >= "3.8.1" and python_version < "3.12"
importlib-metadata==6.1.0 ; python_full_version >= "3.8.1" and python_version < "3.10"
itsdangerous==2.1.2 ; python_full_version >= "3.8.1" and python_version < "3.12"
jinja2==3.1.2 ; python_full_version >= "3.8.1" and python_version < "3.12"
markupsafe==2.1.2 ; python_full_version >= "3.8.1" and python_version < "3.12"
numpy==1.24.2 ; python_full_version >= "3.8.1" and python_version < "3.12"
packaging==23.0 ; python_full_version >= "3.8.1" and python_version < "3.12"
pandas==1.5.3 ; python_full_version >= "3.8.1" and python_version < "3.12"
plotly==5.14.0 ; python_full_version >= "3.8.1" and python_version < "3.12"
pyarrow==11.0.0 ; python_full_version >= "3.8.1" and python_version < "3.12"
python-dateutil==2.8.2 ; python_full_version >= "3.8.1" and python_version < "3.12"
pytz==2023.3 ; python_full_version >= "3.8.1" and python_version < "3.12"
six==1.16.0 ; python_full_version >= "3.8.1" and python_version < "3.12"
tenacity==8.2.2 ; python_full_version >= "3.8.1" and python_version < "3.12"
werkzeug==2.2.3 ; python_full_version >= "3.8.1" and python_version < "3.12"
zipp==3.15.0 ; python_full_version >= "3.8.1" and python_version < "3.10"
